html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
.h1Header {
  text-align: center;
  margin-top: 16px;
}
hr {
  margin: 10;
}
.clock{
  margin: 0 auto;
  position: relative;
}